*{
    margin:0;
    padding:0;  
    box-sizing: border-box;
  }
.icono{
         position: absolute;
         width: 4%;
         left:20px;
         top: 17px; 
         font-size: 50px;
         color: rgba(145, 125, 125, 0.8);
         
} 
.titulo{
  width: 100%;
  padding-top: 13%; 
  font-size: 70px;
  font-family: "Latin Modern Roman 10";
  font-style: oblique;
  color: rgba(247, 240, 240, 0.8);
}
body{
background-image:url("http://www.xup.in/pic,13570529/Fondo.jpg");
background-size: cover;
background-attachment: fixed;
background-position: center; 
background-repeat : no-repeat; 
text-align : center;
}
.none{
    display: none;
}

#video-principal{
    /* width: 50%; */
    padding-top: 13%;
}
.boxs{
    padding-top: 15%;
}
.pregun-{
    margin-top: 0.5cm;
    font-family: serif;
    color: rgba(37, 28, 37, 0.877);
	min-height: 66px;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
    padding: .5rem;
    background: rgba(248, 239, 239, 0.5);
}
.titulotest{
    font-size: 50px;
    color: rgb(250, 244, 244);
}
#preguntas{
    width: 800px;
    margin-top: 0.5cm;
    margin-left: 280px; 
    background-color:rgba(48, 43, 48, 0.247);
    padding-top: 1%;
}
.boton{
    background-color:#FFE4C4;
    color:black;
    margin:20px;
    padding:10px 10px;
    width:480px;
}
.result{
    width: 800px;
    margin-top: 1.5cm;
    font-family: serif;
    font-size: 50px;
    color: rgba(199, 160, 199, 0.877);
    background-color:rgba(48, 43, 48, 0.247);
    margin-left: 280px; 
}
input{
    background-color:#FFE4C4;
    color:black;
    margin:20px;
    padding:10px 10px;
    width:80px;
}
.h1{
    font-size: 35px;
    color: rgb(250, 244, 244);
    padding-top: 1%;
}
.cem1{
    font-family: serif;
    font-size: 22px;
    padding-top: 2%; 
}
.cem{
    background-color:rgba(48, 43, 48, 0.247);
    width: 600px;
    margin-top: 2cm;
    margin-left: 100px; 
    padding-left: 2%; 
    padding-right: 2% ;
}
.linea{
    background-color:rgba(48, 43, 48, 0.247);
    width: 600px;
    margin-left: 700px; 
    padding-left: 2%; 
    padding-right: 2% ;
}
.chat{
    background-color:rgba(48, 43, 48, 0.247);
    width: 600px;
    margin-left: 100px; 
    padding-left: 2%; 
    padding-right: 2% ;
}
.video1{
    margin-left: 500px;
}