*{
    margin:0;
    padding:0;  
    box-sizing: border-box;
  }
.icono{
         position: absolute;
         width: 4%;
         left:20px;
         top: 17px; 
         font-size: 50px;
         color: rgba(145, 125, 125, 0.8);
         
} 
.titulo{
  width: 100%;
  padding-top: 13%; 
  font-size: 70px;
  font-family: "Latin Modern Roman 10";
  font-style: oblique;
  color: rgba(247, 240, 240, 0.8);
}
body{
background-image:url("http://www.xup.in/pic,13570529/Fondo.jpg");
background-size: cover;
background-attachment: fixed;
background-position: center; 
background-repeat : no-repeat; 
text-align : center;
}
.none{
    display: none;
}

#video-principal{
    /* width: 50%; */
    padding-top: 13%;
}
.boxs{
    padding-top: 15%;
}